doctype html
html(lang="en", prefix="og: http://ogp.me/ns#", itemscope, itemtype="https://schema.org/Person")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    meta(property="og:type", content="profile")
    meta(property="og:title", content="Adam Cooper - Senior PHP DevOps Developer")
    meta(property="og:url", content=absPath)
    meta(property="profile:first_name", content="Adam")
    meta(property="profile:last_name", content="Cooper")
    meta(property="og:image", content=absPath + "images/cover.jpg")
    meta(property="og:description", itemprop="description" content="A senior PHP DevOps developer with a focus on OSS technologies.")
    meta(name="description", content="A senior PHP DevOps developer with a focus on OSS technologies.")

    title Adam Cooper - Senior PHP DevOps Developer
    
    include partials/_favicon.pug

    link(rel="stylesheet" href="main.min.css")

  body
    .vertical-center
      .container.grid-lg
        .columns.col-gapless
          .column.col-sm-12.col-md-8.col-6.col-mx-auto
            div.card.vcard
              .card-image
                img(src="images/cover.jpg", itemprop="image").img-responsive
              .card-header
                .card-title.h4.fn.n
                  span(itemprop="givenName").given-name Adam
                  text &nbsp;
                  span(itemprop="familyName").family-name Cooper
                div(itemprop="jobTitle").card-subtitle.text-gray.title Senior PHP DevOps Developer
              .card-body
                .tile.tile-centered
                  .tile-icon
                    i.far.fa-lg.fa-envelope-square
                  .tile-content
                    .tile-title 
                      a(href="mailto:adam@acpr.dev", itemprop="email").email adam@acpr.dev
                .tile.tile-centered
                  .tile-icon
                    span.fa-stack
                      i.far.fa-square.fa-stack-2x
                      i.fab.fa-keybase.fa-stack-1x
                  .tile-content
                    .tile-title 
                      a(href="https://keybase.io/cooperaj", itemprop="mainEntityOfPage") keybase.io/cooperaj
                .tile.tile-centered
                  .tile-icon
                    img(src="images/keyoxide.svg", title="Keyoxide Profile", alt="Keyoxide logo")
                  .tile-content
                    .tile-title 
                      a(href="https://keyoxide.org/hkp/adam%40acpr.dev", itemprop="mainEntityOfPage") keyoxide.org/hkp/adam@acpr.dev
                .tile.tile-centered
                  .tile-icon
                    i.fab.fa-lg.fa-github-square
                  .tile-content
                    .tile-title 
                      a(href="https://github.com/cooperaj", itemprop="mainEntityOfPage") github.com/cooperaj
                .tile.tile-centered
                  .tile-icon
                    i.fab.fa-lg.fa-linkedin
                  .tile-content
                    .tile-title 
                      a(href="https://linkedin.com/in/adamjohncooper", itemprop="mainEntityOfPage") linkedin.com/in/adamjohncooper
                div(data-content="I do").divider.text-center
                .columns.tech
                  .column.col-2
                    figure(itemprop="knowsAbout", itemscope, itemtype="https://schema.org/Thing")
                      img(itemprop="image", src="images/php.svg", title="PHP programming language", alt="PHP logo").img-responsive
                      fig-caption(itemprop="name").text-assistive PHP programming language
                  .column.col-2
                    figure(itemprop="knowsAbout", itemscope, itemtype="https://schema.org/Thing")
                      img(itemprop="image", src="images/symfony.svg", title="Symfony PHP framework", alt="Symfony logo").img-responsive
                      fig-caption(itemprop="name").text-assistive Symfony PHP framework
                  .column.col-2
                    figure(itemprop="knowsAbout", itemscope, itemtype="https://schema.org/Thing")
                      img(itemprop="image", src="images/ansible.svg", title="Ansible configuration management", alt="Ansible logo").img-responsive
                      fig-caption(itemprop="name").text-assistive Ansible configuration management
                  .column.col-2
                    figure(itemprop="knowsAbout", itemscope, itemtype="https://schema.org/Thing")
                      img(itemprop="image", src="images/laravel.svg", title="Laravel PHP framework", alt="Laravel logo").img-responsive
                      fig-caption(itemprop="name").text-assistive Laravel PHP framework
                  .column.col-2
                    figure(itemprop="knowsAbout", itemscope, itemtype="https://schema.org/Thing")
                      img(itemprop="image", src="images/docker.svg", title="Docker containerisation", alt="Docker logo").img-responsive
                      fig-caption(itemprop="name").text-assistive Docker containerisation
                  .column.col-2
                    figure(itemprop="knowsAbout", itemscope, itemtype="https://schema.org/Thing")
                      img(itemprop="image", src="images/rancher.svg", title="Rancher container orchestration", alt="Rancher logo").img-responsive
                      fig-caption(itemprop="name").text-assistive Rancher container orchestration