@import "variables";
@import "spectre.css/src/spectre";

$fa-font-path: 'webfonts';
@import "../fontawesome-subset/scss/fontawesome.scss";
@import "../fontawesome-subset/scss/regular";
@import "../fontawesome-subset/scss/brands";

.card {
    border: 0;
    box-shadow: 0 .25rem 1rem rgba(48,55,66,.35);
    height: 100%;
}

.divider[data-content] {
    margin: 1.2em 0;
}

.fa-stack {
    font-size: 0.6777em;
    width: 1.6777em;
    height: 1.6777em;
    vertical-align: -0.0677em;
}

.tech {
    align-items: center;

    figure {
        @extend .figure;

        filter: grayscale(1);
        margin: 0 .3rem .4rem .3rem;
    }
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

@media (max-width: $size-sm) {
    .container {
        padding-top: $layout-spacing;
    }

    .tech {    
        figure {
            margin: 0 0 .4rem 0;
        }
    }

    .vertical-center {
        align-items: flex-start;
    }
}